---
import Button from '@/components/Button.astro'

import Layout from '@/layouts/Layout.astro'

---
<Layout gap={2}>
	<h2><a href='mailto:your@keenq.app'>your@keenq.app</a></h2>
	<Button href='/'>Обратно</Button>
</Layout>

<style>
	a {
		color: var(--secondary);
	}
</style>
