---
import Button from '@/components/Button.astro'
import Image from '@/components/Image.astro'
import Links from '@/components/Links.astro'
import Overline from '@/components/Overline.astro'

import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<h1>Keenq</h1>
	<Overline>Место, где ты можешь быть собой</Overline>
	<Image />
	<Button href='https://keenq.app'>Войти</Button>
	<Links />
</Layout>
