---
import Button from '@/components/Button.astro'
import Overline from '@/components/Overline.astro'

import Layout from '@/layouts/Layout.astro'

---
<Layout gap={1}>
	<h2>18+</h2>
	<Overline>Не быть мудаком</Overline>
	<Button href='/'>Окей</Button>
</Layout>
