@font-face {
    font-family: 'Keenq';
    src: url('keenq-Bold.woff2') format('woff2'),
         url('keenq-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
